{% extends 'TPO/base.html'%}
{% block content %}

    <form action="{% url 'searchnews' %}" method="GET" value="{{request.GET.q}}">
    <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search News"/>
    <input type="submit" name="submit" value="Search"/>
    </form>


    {% if submitbutton == 'Search' and request.GET.q != '' %}
    {% if results %}
    <h1>Results for <b>{{ request.GET.q }}</b></h1>
    <br/><br/>

    {% for result in results %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ result.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'news-detail' result.id %}">{{ result.title }}</a></h2>
          <!--<p class="article-content">{{ news.content }}</p>-->
        </div>
      </article>
    {% endfor %}

      {% if is_paginated %}
    
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href = "?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num%}
          <a class="btn btn-info mb-4" href = "?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'+3' %}
          <a class="btn btn-outline-info mb-4" href = "?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

    {% else %}
      <p>No Results Found!</p>
    {% endif %}
    {% else %}
    {% for news in newss%}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small class="text-muted">{{ news.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'news-detail' news.id %}">{{ news.title }}</a></h2>
          <!--<p class="article-content">{{ news.content }}</p>-->
        </div>
      </article>
    {% endfor %}

      {% if is_paginated %}
      
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href = "?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num%}
          <a class="btn btn-info mb-4" href = "?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'+3' %}
          <a class="btn btn-outline-info mb-4" href = "?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.next_page_number}}">Next</a>
        <a class="btn btn-outline-info mb-4" href = "?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

      {% endif %}

    {% endif %}

  
  
  
{% endblock content %}